[submodule "host"]
	path = host
	url = https://latex.bmstu.ru/gitlab/hackathon2023/lab1/host.git
[submodule "sw-kernel"]
	path = sw-kernel
	url = https://latex.bmstu.ru/gitlab/hackathon2023/lab1/sw-kernel.git
[submodule "host-lib"]
	path = host-lib
	url = https://latex.bmstu.ru/gitlab/lnh64_l0/host-lib.git
[submodule "sw-kernel-lib"]
	path = sw-kernel-lib
	url = https://latex.bmstu.ru/gitlab/lnh64_l0/sw-kernel-lib.git
